<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <header>
        <div class="header-index">
            <h1>Wish Me!</h1>
            <h1 class="gather">Gather your wishes in one place</h1>
        </div>
    </header>
    <nav class="nav">
        <ul>
            <li class="c">Welcome <%= user %> </li>
            <li style="float:right"><a href="/user/logout" class="d">Logout</a></li>
            <li style="float:right" class="a"><a href="/wish/new">Make A New Wish</a></li>
        </ul>
    </nav>
    <div class="container">
        <% wishes.forEach((wish, index) => { %>
            <div class="index card">
                <a href="/wish/<%=wish._id%>"><h4><%=wish.name%> - <%=wish.price%></h4></a>
            </div>
        <% }) %>
    </div>
</body>
</html>