<h1><%= wish.name%></h1>
<h2><%=wish.price%></h2>
<h2><%=wish.image%></h2>
<h3><%=wish.link%></h3>

<form action="/wish/<%=wish._id%>?_method=DELETE" method="post">
    <input type="submit" value="delete">
</form>
<a href="/wish/<%=wish._id%>/edit"><h4>Modify Wish</h4></a>
<a href="/wish"><h3>Back to Wishes</h3></a>