<!DOCTYPE html>
<html lang="en">
    <!-- <%- include("../partials/head.ejs") %> -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Quicksand:wght@500&family=Titan+One&display=swap" rel="stylesheet">
<body style="background-image: url(https://i.pinimg.com/564x/54/ba/b1/54bab1310fa9f541f3adf63ed2e92a49.jpg); color: white;">
    <header>
        <div class="header-index" style="display: flex; justify-content: space-between; font-family:'Titan One', cursive;background-color:rgb(96, 96, 210); padding: 10px; border-top-right-radius: 10px; border-top-left-radius: 10px">
            <h1>Wish Me!</h1>
            <h1 class="gather" style="font-family:'Barlow Condensed', sans-serif">Gather your wishes in one place</h1>
        </div>
    </header>
    <nav class="nav" style="font-family: 'Quicksand', sans-serif;
    background-color: rgb(255, 220, 82);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px">
        <ul style="list-style-type: none;
        margin: 0;
        padding: 8px;
        overflow: hidden">
            <li style="display: inline;
            color: black;
            text-decoration: none" class="c">Welcome <%= user %> </li>
            <li style="display: inline;
            color: black;
            text-decoration: none; float:right" class="a"><a href="/wish" style="color:black;text-decoration: none">Return to Wishes</a></li>
        </ul>
    </nav>
    <div class="show-cont" style="justify-content: auto;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40vw;
    background-color: rgb(255, 247, 247);
    color: black;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif">
        <header style="text-align: center;
        background-color: rgb(255, 220, 82);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding-bottom: 3px;
        padding-top: 3px"><h2><%= wish.name%></h2></header>
        <img src="<%=wish.image%>" alt="Picture of <%=wish.name%>" style="display:block; margin-left: auto; margin-right: auto; width: 80%; height: 20%; object-fit: cover; border: 1px solid black; border-radius: 10px">
        <h3 style="margin-left: 10%; padding: 5px">Price: $<%=wish.price%></h3>
        <a href="<%=wish.link%>"><h3 style="margin-left:10%; padding: 5px">Link to Buy</h3></a>
        
        <a href="/wish/<%=wish._id%>/edit" style="text-decoration: none; color: white"><h3 style="margin-left: 10%; margin-bottom: 10px; padding: 10px; width:70%; background-color:rgb(96, 96, 210); border-radius: 10px; text-align: center;">Modify Wish</h3></a>
        <br>
        <form action="/wish/<%=wish._id%>?_method=DELETE" method="post">
            <input style="font-family: 'Quicksand', sans-serif;margin-left: 10%; margin-bottom: 10%; padding: 15px; width: 70%; background-color: rgb(61, 80, 139); color: white; border: none; border-radius: 10px"type="submit" value="Delete Wish">
        </form>
    </div>
</body>